@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

:root {
  --signature-boxshadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button {
  transition: all 200ms ease-in-out;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 100vw;
  padding: 12px 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: var(--signature-boxshadow);
  height: 60px;
  position: sticky;
  position: sticky;
  top: 0;
}

.home {
  background-color: #f3f3f3;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile {
  background-color: #f3f3f3;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.signInBtn {
  border: none;
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #3498db;
}

.signInBtn:hover {
  background-color: #4fa0d6;
}

.profilePicture {
  border-radius: 8px;
  height: 35px;
  width: 35px;
}

.createPost {
  width: 50vw;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--signature-boxshadow);
  text-align: left;
  border: none;
  outline: none;
}

/* .posthover:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 8px;
  cursor: pointer;
} */

.createPost legend {
  font-weight: 800;
}

.createPost textarea {
  width: 100%;
  padding: 0px 12px;
  height: 8rem;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid rgb(223, 223, 223, 0.5);
}
.wjhe {
  height: fit-content;
  border: none;
  padding: 12px 12px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  animation: skeleton2-loading 1s linear infinite alternate;
}

@keyframes skeleton2-loading {
  0% {
    background-color: hsl(0, 0%, 89%);
  }
  100% {
    background-color: hsl(0, 0%, 96%);
  }
}

.wowy {
  padding: 12px 12px;
  height: 8rem;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin-top: 8px;
  border-radius: 4px;
  border: 1.5px solid rgb(223, 223, 223, 0.5);
}

.postCaps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postBtn {
  border: none;
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: #3498db;
}

.postBtn:hover {
  background-color: #4fa0d6;
}

#image-preview {
  display: none;
  height: 80px;
  width: fit-content;
  border-radius: 4px;
}

#video-preview {
  display: none;
  height: 80px;
  width: fit-content;
  border-radius: 4px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  margin: 0 auto;
  background-color: white;
  width: 50vw;
  height: fit-content;
  margin: 16px auto;
  box-shadow: var(--signature-boxshadow);
  border-radius: 8px;
}

.postPhotoUrl {
  border-radius: 8px;
  border: none;
  outline: none;
  height: 35px;
  width: 35px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.topInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fakeText {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 15vw;
  height: 20px;
  border-radius: 4px;
}

.profileDiv {
  display: flex;
  flex-direction: column;
  padding: 18px 12px;
  background-color: white;
  width: 50vw;
  height: fit-content;
  margin: 0 auto;
  box-shadow: var(--signature-boxshadow);
  border-radius: 8px;
  margin-top: 20px;
}

.hoverImg:hover {
  outline: 2px solid #e8e8e8;
  cursor: pointer;
}

.footer {
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 12px 0px;
  text-align: center;
  width: 100vw;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  text-align: center;
}

/*animation: skeleton-loading 1s linear infinite alternate;*/

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .post {
    width: 80vw;
  }
  .createPost {
    width: 80vw;
  }
  .profileDiv {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .post {
    width: 93vw;
  }
  .createPost {
    width: 93vw;
  }
  .profileDiv {
    width: 93vw;
  }
}

.commentInput {
  width: 100%;
  padding: 0px 12px;
  height: 4rem;
  border: none;
  outline: none;
  resize: none;
  margin-top: 2px;
  border: 1px solid rgb(223, 223, 223, 0.5);
}

.infoPost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

li {
  list-style-type: circle;
}

.profileAlign {
  height: calc(100vh - 100px);
  display: grid;
  place-content: center;
}
